@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body {
  background-color: #e6eef7;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.container {
  height: 100%;
  margin-top: 1rem;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__text {
  font-size: 2rem;
  color: black;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
    color: #34495e;
  }
}
